## Data Structures in Python

In [1]:
# list all the data structures in python (names)
# List of data structures:

    # "list"
    # "tuple"
    # "set"
    # "dict"

In [11]:
sample_list = [(66,66,77),{2,4,3,3,3},12,{"names":{"ravi","ravi","ragu"}}, 45.67, 89.90, True, False]


sample_list

[(66, 66, 77),
 {2, 3, 4},
 12,
 {'names': {'ragu', 'ravi'}},
 45.67,
 89.9,
 True,
 False]

# List

In [13]:
names = ["raguvaran", "karthik", "suresh", "sathish", "karthik", "ravi", "ram", "ravi"]
print("List of names:", names)
print("first name:", names[0])
print("first name:", names[1])
print("first name:", names[2])
print("last name:", names[-1])
print("last name:", names[-2])
print("last name:", names[0:2])
print("last name:", names[0:4])
names[0] ="rajesh"
print("Updated fname list:", names)

List of names: ['raguvaran', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi']
first name: raguvaran
first name: karthik
first name: suresh
last name: ravi
last name: ram
last name: ['raguvaran', 'karthik']
last name: ['raguvaran', 'karthik', 'suresh', 'sathish']
Updated fname list: ['rajesh', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi']

In [14]:
# use of Append function under list
print("List of names:", names)
names.append("ramkumar")
print("Updated fname list:", names)

List of names: ['rajesh', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi']
Updated fname list: ['rajesh', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar']

In [ ]:
print("List of names:", names)
names.insert(2, "Kumar")
print("Updated fname list:", names)

List of names: ['rajesh', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar']
Updated fname list: ['rajesh', 'karthik', 'Kumar', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar']

In [16]:
print("List of names:", names)
names.extend(["ragava", "Kumaravel"])
print("Updated fname list:", names)

List of names: ['rajesh', 'karthik', 'vijay', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar']
Updated fname list: ['rajesh', 'karthik', 'vijay', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar', 'ragava', 'Kumaravel']

In [ ]:
#imes x appears in the list.
# sort(key=None, reverse=False): Sorts the items of the list in place.
# reverse(): Reverses the elements of the list in place.
# copy(): Returns a shallow copy of the list. list of functions under list
# append(x): Adds an item x to the end of the list.
# extend(iterable): Extends the list by appending all the items from the iterable.
# insert(i, x): Inserts an item x at a given position i.
# remove(x): Removes the first item from the list whose value is x.
# pop([i]): Removes and returns the item at the given position i (default is the last item).
# clear(): Removes all items from the list.
# index(x[, start[, end]]): Returns the index of the first item whose value is x (raises a ValueError if not found).
# count(x): Returns the number of t

In [17]:
# nested list

nested_list1=[[123, [2,1]], [789, 101112], [131415, 161718]]

print("nested_list1:", nested_list1)
print("nested_list1[0]:", nested_list1[0])  # Accessing the first element of the nested list
print("nested_list1[0][0]:", nested_list1[0][0])  # Accessing the first element of the nested list
print("nested_list1[0][1]:", nested_list1[0][1])  # Accessing the second element of the first element of the nested list
# # Accessing elements in a nested list
print("nested_list1[0][1][0]:", nested_list1[0][1][0])  # Accessing the first element of the second element of the first element of the nested list
print("nested_list1[0][1][0]:", nested_list1[0][1][1])  # Accessing the first element of the second element of the first element of the nested list
print("nested_list1[0][1][0]:", nested_list1[2][0])  # Accessing the first element of the second element of the first element of the nested list

nested_list1: [[123, [2, 1]], [789, 101112], [131415, 161718]]
nested_list1[0]: [123, [2, 1]]
nested_list1[0][0]: 123
nested_list1[0][1]: [2, 1]
nested_list1[0][1][0]: 2
nested_list1[0][1][0]: 1
nested_list1[0][1][0]: 131415

In [18]:
print("List of names:", names)

List of names: ['rajesh', 'karthik', 'vijay', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar', 'ragava', 'Kumaravel']

In [23]:
found_list = []

for name in names:
    # print("name:", name)
    if name == "karthik":
        # print("Found the name karthik")
        found_list.append(name)
    else:
        print("Not matched name:", name)

Not matched name: rajesh
Not matched name: vijay
Not matched name: suresh
Not matched name: sathish
Not matched name: ravi
Not matched name: ram
Not matched name: ravi
Not matched name: ramkumar
Not matched name: ragava
Not matched name: Kumaravel

In [22]:
print("Found list:", found_list)

Found list: ['karthik', 'karthik']

In [12]:
for name in names:
    if name == "karthik":
        print("name found:", name)
        continue
    print(name)

rajesh
name found: karthik
suresh
sathish
name found: karthik
ravi
ram
ravi

In [11]:
print("List of names:", names)

for n in names:
    # print(n)
    if n == "karthik":
        print("Found karthik")
    else:
        print("Not found karthik")

List of names: ['rajesh', 'karthik', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi']
Not found karthik
Found karthik
Not found karthik
Not found karthik
Found karthik
Not found karthik
Not found karthik
Not found karthik

In [24]:
print(names)

['rajesh', 'karthik', 'vijay', 'suresh', 'sathish', 'karthik', 'ravi', 'ram', 'ravi', 'ramkumar', 'ragava', 'Kumaravel']

In [ ]:
for n in names:
   
    if n == "karthik":
        continue
    print(n)

rajesh
vijay
suresh
sathish
ravi
ram
ravi
ramkumar
ragava
Kumaravel

In [27]:
len(names)

12

In [ ]:
i = 0
while i < len(names):
    print(names[i])
    i += 1

rajesh
karthik
vijay
suresh