## Data Structures in Python

In [ ]:
# list all the data structures in python (names)
# List of data structures:

    # "list"
    # "tuple"
    # "set"
    # "dict"

In [19]:
# List


first_list = [1, 2, 3, 4, 5]
second_list = ["a", "b", "c"]
third_list = [1, "a", 3.14, True]
fourth_list =[[11,22,33,44], 2, 3, 4, [55, 66, 77, 88]]
fifth_list = [[11,22,33,["ravi","raju","ramesh"]], 2, 3, 4, [55, 66, 77, 88]]

In [12]:
print("List examples:")
print(first_list)
print(first_list[0])
print(first_list[1])
print("first_list[2]:", first_list[2])
print("first_list[3]:", first_list[3])
print("first_list[4]:", first_list[4])

List examples:
[1, 2, 3, 4, 5]
1
2
first_list[2]: 3
first_list[3]: 4
first_list[4]: 5

In [13]:
print("List examples:")
print(fourth_list)
print("fourth_list[0]:", fourth_list[0])
print("fourth_list[0][0]:", fourth_list[0][0])

List examples:
[[11, 22, 33, 44], 2, 3, 4, [55, 66, 77, 88]]
fourth_list[0]: [11, 22, 33, 44]
fourth_list[0][0]: 11

In [16]:
print("List examples:")
print(fifth_list)
print("fifth_list[0]:", fifth_list[0])
print("fifth_list[0][3]:", fifth_list[0][3])
print("fifth_list[0][3][2]:", fifth_list[0][3][2])

List examples:
[[11, 22, 33, ['ravi', 'raju', 'ramesh']], 2, 3, 4, [55, 66, 77, 88]]
fifth_list[0]: [11, 22, 33, ['ravi', 'raju', 'ramesh']]
fifth_list[0][3]: ['ravi', 'raju', 'ramesh']
fifth_list[0][3][2]: ramesh

In [20]:
# replace an element in a list
print(first_list)
first_list[0] = 100

[1, 2, 3, 4, 5]

In [21]:
print("After replacing first element:")
print(first_list)

After replacing first element:
[100, 2, 3, 4, 5]

In [22]:
# methods of list
print("Methods of list:")
print("first_list.append(6):", first_list.append(6))
print("first_list:", first_list)

Methods of list:
first_list.append(6): None
first_list: [100, 2, 3, 4, 5, 6]

In [23]:
# this is the list of methods of list
# practice that with the help of simple examples

# append(x): Adds an item x to the end of the list.
# extend(iterable): Extends the list by appending all the items from the iterable.
# insert(i, x): Inserts an item x at a given position i.
# remove(x): Removes the first item from the list whose value is x.
# pop([i]): Removes and returns the item at the given position i (default is the last item).
# clear(): Removes all items from the list.
# index(x[, start[, end]]): Returns the index of the first item whose value is x (raises a ValueError if not found).
# count(x): Returns the number of times x appears in the list.
# sort(key=None, reverse=False): Sorts the items of the list in place.
# reverse(): Reverses the elements of the list in place.
# copy(): Returns a shallow copy of the list.

In [26]:
# tuple
first_tuple = (1, 2, 3, 4, 5)
second_tuple = ("a", "b", "c")
third_tuple = (1, "a", 3.14, True)
fourth_tuple = ((11, 22, 33, 44), 2, 3, 4, (55, 66, 77, 88))
fifth_tuple = ((11, 22, 33, ("ravi", "raju", "ramesh")), 2, 3, 4, (55, 66, 77, 88))

In [27]:
print("\nTuple examples:")
print(first_tuple)
print("first_tuple[0]:", first_tuple[0])
print("first_tuple[1]:", first_tuple[1])
print("first_tuple[2]:", first_tuple[2])
print("first_tuple[3]:", first_tuple[3])
print("first_tuple[4]:", first_tuple[4])
print("Tuple examples:")
print(fourth_tuple)
print("fourth_tuple[0]:", fourth_tuple[0])
print("fourth_tuple[0][0]:", fourth_tuple[0][0])
print("Tuple examples:")
print(fifth_tuple)
print("fifth_tuple[0]:", fifth_tuple[0])
print("fifth_tuple[0][3]:", fifth_tuple[0][3])
print("fifth_tuple[0][3][2]:", fifth_tuple[0][3][2])

Tuple examples:
(1, 2, 3, 4, 5)
first_tuple[0]: 1
first_tuple[1]: 2
first_tuple[2]: 3
first_tuple[3]: 4
first_tuple[4]: 5
Tuple examples:
((11, 22, 33, 44), 2, 3, 4, (55, 66, 77, 88))
fourth_tuple[0]: (11, 22, 33, 44)
fourth_tuple[0][0]: 11
Tuple examples:
((11, 22, 33, ('ravi', 'raju', 'ramesh')), 2, 3, 4, (55, 66, 77, 88))
fifth_tuple[0]: (11, 22, 33, ('ravi', 'raju', 'ramesh'))
fifth_tuple[0][3]: ('ravi', 'raju', 'ramesh')
fifth_tuple[0][3][2]: ramesh

In [ ]:
# list of methods of tuple
# count(x): Returns the number of times x appears in the tuple.
# index(x[, start[, end]]): Returns the index of the first item whose value is x (raises a ValueError if not found).
# Note: Tuples are immutable, so they do not have methods like append, extend, insert, remove, pop, clear, sort, reverse, or copy.

In [28]:
# tuple cannot be modified, so we cannot replace an element in a tuple
# but we can convert it to a list, modify it, and convert it back to a tuple
print("Converting tuple to list, modifying, and converting back to tuple:")
temp_list = list(first_tuple)
temp_list[0] = 100
print("Modified list:", temp_list)
new_tuple = tuple(temp_list)
print("New tuple after modification:", new_tuple)

Converting tuple to list, modifying, and converting back to tuple:
Modified list: [100, 2, 3, 4, 5]
New tuple after modification: (100, 2, 3, 4, 5)

In [30]:
# dict under python
first_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [32]:
# print("\nDictionary examples:")
print("Dictionary examples:")
print(first_dict)
print("first_dict['name']:", first_dict["name"])
print("first_dict['age']:", first_dict["age"])
print("first_dict['city']:", first_dict["city"])

Dictionary examples:
{'name': 'Alice', 'age': 30, 'city': 'New York'}
first_dict['name']: Alice
first_dict['age']: 30
first_dict['city']: New York

In [33]:
# changing a value in a dictionary
first_dict["age"] = 31
print("After changing age:")
print(first_dict)

After changing age:
{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [34]:
# adding new key-value pair
first_dict["country"] = "USA"
print("After adding country:")
print(first_dict)

After adding country:
{'name': 'Alice', 'age': 31, 'city': 'New York', 'country': 'USA'}

In [ ]:
# list of methods of dict

# clear(): Removes all items from the dictionary.
# copy(): Returns a shallow copy of the dictionary.
# fromkeys(seq[, value]): Creates a new dictionary with keys from seq and values set to value (default is None).
# get(key[, default]): Returns the value for key if key is in the dictionary, else default (default is None).
# items(): Returns a view object that displays a list of a dictionary's key-value tuple pairs.
# keys(): Returns a view object that displays a list of all the keys in the dictionary.
# pop(key[, default]): Removes the specified key and returns its value. If key is not found, default is returned if provided.
# popitem(): Removes and returns an arbitrary (key, value) pair from the dictionary.

In [46]:
# sets in python
first_set = {1, 2, 3, 4, 5}
second_set = {3, 4, 5, 6, 7}

In [45]:
print("\nSet examples:")
print("first_set:", first_set)
print("second_set:", second_set)

Set examples:
first_set: {1, 2}
second_set: {3, 4, 5, 6, 7}

In [38]:
print(first_set[0])
# Note: Sets are unordered collections, so they do not support indexing like lists or tuples.

TypeError: 'set' object is not subscriptable

In [48]:
# union of two sets
print("Union of first_set and second_set:", first_set.union(second_set))
# intersection of two sets
print("Intersection of first_set and second_set:", first_set.intersection(second_set))
# difference of two sets
print("Difference of first_set and second_set:", first_set.difference(second_set))
# difference update of two sets
print("Difference of second_set and first_set:", second_set.difference(first_set))
# symmetric difference of two sets
print("Symmetric difference of first_set and second_set:", first_set.symmetric_difference(second_set))

Union of first_set and second_set: {1, 2, 3, 4, 5, 6, 7}
Intersection of first_set and second_set: {3, 4, 5}
Difference of first_set and second_set: {1, 2}
Difference of second_set and first_set: {6, 7}
Symmetric difference of first_set and second_set: {1, 2, 6, 7}

In [51]:
# add a new value to a set
print("before adding 6 to first_set:", first_set)
print("Adding 6 to first_set:")
first_set.add("date")
print("After adding 6 to first_set:", first_set)

before adding 6 to first_set: {1, 2, 3, 4, 5, 6, 67}
Adding 6 to first_set:
After adding 6 to first_set: {1, 2, 3, 4, 5, 6, 67, 'date'}

In [ ]:
# list of methods of set
# add(elem): Adds an element elem to the set.
# clear(): Removes all elements from the set.
# copy(): Returns a shallow copy of the set.
# difference(*others): Returns a new set with elements in the set that are not in the others.
# difference_update(*others): Removes elements found in others from the set.
# discard(elem): Removes elem from the set if it is a member. If elem is not a member, do nothing.
# intersection(*others): Returns a new set with elements common to the set and all others.
# intersection_update(*others): Updates the set, keeping only elements found in it and all others.
# isdisjoint(other): Returns True if the set has no elements in common with other.
# issubset(other): Returns True if the set is a subset of other.
# issuperset(other): Returns True if the set is a superset of other.
# pop(): Removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.
# remove(elem): Removes elem from the set. Raises KeyError if elem is not a member.
# symmetric_difference(other): Returns a new set with elements in either the set or other but not both.
# symmetric_difference_update(other): Updates the set, keeping only elements found in either the set or other but not both.
# union(*others): Returns a new set with elements from the set and all others.
# update(*others): Updates the set, adding elements from all others.