## **Loops under Python**

# For Loop

In [1]:
# For loop in Python
# This script demonstrates how to use a for loop to iterate over a list of numbers
numbers = [1, 2, 3, 4, 5]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

1
2
3
4
5

In [3]:
# using a for loop to iterate through the list
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print(n)

1
2
3
4
5

In [10]:
# using a for loop to iterate through the Dictionary
person = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}
for key in person:
    print(key)
    print(key, ":", person[key])

print("\nUsing items() to iterate through the Dictionary:")
# using items() to iterate through the Dictionary
for key, value in person.items():
    print(key, ":", value)

name
name : Alice
age
age : 30
city
city : New York

Using items() to iterate through the Dictionary:
name : Alice
age : 30
city : New York

In [11]:
# using a for loop to iterate through the set
my_set = {1, 2, 3, 4, 5}
for item in my_set:
    print(item)

1
2
3
4
5

In [12]:
# using a for loop to iterate through the tuple
my_tuple = (1, 2, 3, 4, 5)
for item in my_tuple:
    print(item)

1
2
3
4
5

In [14]:
# using a for loop with a condition
print("\nUsing a for loop with a condition:")
numbers = [1, 2, 3, 4, 5]

for n in numbers:
    if n == 3:
        print("Found 3!")
    else:
        print("Not found 3!")

Using a for loop with a condition:
Not found 3!
Not found 3!
Found 3!
Not found 3!
Not found 3!

In [15]:
usernames = ["alice", "bob", "charlie"]

username = input("Enter your username : ")  # you can change this value to test

if username in usernames:
    print("You successfully logged in")
else:
    print("Not in the database, try with proper username")

You successfully logged in

In [21]:
usernames = ["alice", "bob", "charlie"]

username = input("Enter your username : ")  # you can change this value to test

found = False
for user in usernames:
    if user == username:
        print("You successfully logged in")
        found = True
    else:
        print("Not in the database, try with proper username")

Not in the database, try with proper username
You successfully logged in
Not in the database, try with proper username

In [22]:
print(range(5))  # range(5) generates numbers from 0 to 4

range(0, 5)

In [23]:
for n in range(5):
    print(n)

0
1
2
3
4

In [24]:
# Example of nested for loops
for i in range(3):
    for j in range(2):
        print("i:", i, "j:", j)

i: 0 j: 0
i: 0 j: 1
i: 1 j: 0
i: 1 j: 1
i: 2 j: 0
i: 2 j: 1

In [25]:
# Example of break statement
for i in range(10):
    if i == 5:
        break
    print("Break Example:", i)


print("\n")  # Print a newline for better readability
print("\n")  # Print a newline for better readability
# Example of continue statement
for i in range(10):
    if i == 5:
        continue
    print("Continue Example:", i)

Break Example: 0
Break Example: 1
Break Example: 2
Break Example: 3
Break Example: 4




Continue Example: 0
Continue Example: 1
Continue Example: 2
Continue Example: 3
Continue Example: 4
Continue Example: 6
Continue Example: 7
Continue Example: 8
Continue Example: 9

In [26]:
# Examples:

# Example of for loop with else
for i in range(5):
 print("For Loop with Else:", i)
else:
    print("Loop finished")

For Loop with Else: 0
For Loop with Else: 1
For Loop with Else: 2
For Loop with Else: 3
For Loop with Else: 4
Loop finished

# Aditional Examples

In [27]:
# Example of iterating over dictionary keys
student = {"name": "John", "age": 21, "course": "Data Science"}

for k in student:
    print("Key:", k, "Value:", student[k])


for k in student:
    if k == "age":
        print("Found age key!")
        
    elif student[k] == "Data Science":
        print("Found Data Science course!")

Key: name Value: John
Key: age Value: 21
Key: course Value: Data Science
Found age key!
Found Data Science course!

In [29]:
# Example of iterating over dictionary items
for key, value in student.items():
    print("Key:", key, "Value:", value)



for key, value in student.items():
    if key == "name":
        print("Found name key!")
    elif value == "John":
        print("Found John as a value!")

Key: name Value: John
Key: age Value: 21
Key: course Value: Data Science
Found name key!

Additional Examples

In [27]:
fruits = ["apple", "banana", "cherry"]



for fruit in fruits:
    # print(fruit)
    if(fruit=='apple'):
        print("we have stock ", fruit)
        for f in fruit:
            if(f=="a"):
                print("this is letter a")
            elif(f=="l"):
                print("this is letter l")
            elif(f=="p"):
                print("this is letter p")
            elif(f=="e"):
                print("this is letter e")
    elif(fruit=="banana"):
        print("we do not have stock", fruit)
        for f in fruit:
            print(f)
    elif(fruit=="cherry"):
        print("we have stock", fruit)
        for f in fruit:
            print(f)

we have stock  apple
this is letter a
this is letter p
this is letter p
this is letter l
this is letter e
we do not have stock banana
b
a
n
a
n
a
we have stock cherry
c
h
e
r
r
y

# While Loop

In [14]:
numbers = [1, 2, 3, 4, 5]
len(numbers)  # len() returns the number of elements in the list

5

In [17]:
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1  # increment i to avoid infinite loop

1
2
3
4
5

In [ ]:
# Example of nested while loops
i = 0
while i < 3:
    j = 0
    while j < 2:
        print("i:", i, "j:", j)
        j += 1
    i += 1

In [23]:
# Example of while loop with else
count = 0
while count < 5:
    print("While Loop with Else:", count)
    count += 1
else:
    print("Loop finished")

While Loop with Else: 0
While Loop with Else: 1
While Loop with Else: 2
While Loop with Else: 3
While Loop with Else: 4
Loop finished