In [73]:
class TrainingInstitute:

    list_of_institutes = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]
    _list_of_institutes01 = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]
    __list_of_institutes02 = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]
   

    def __init__(self,courses):
        self.courses = courses
        # self.institute_location()
    
    def list_courses(self):
        # courses = ["Python Programming", "Data Science", "Web Development", "Machine Learning"]
        self.institute_location()
        return self.courses, self.location , self.list_of_institutes, TrainingInstitute.list_of_institutes


    def check_course(self, course_name):
        if course_name in self.courses:
           
            return f"{course_name} is available. under the location {self.location}"
        else:
            return f"{course_name} is not available."

    def return_location(self):
        return self.location
    
    def institute_location(self):
        self.location = "123 Main St, Anytown, USA"
        return self.location

In [63]:
TI = TrainingInstitute(["Python Programming", "Data Science", "Web Development", "Machine Learning", "Cloud Computing"])

In [64]:
print(TI.list_courses())

(['Python Programming', 'Data Science', 'Web Development', 'Machine Learning', 'Cloud Computing'], '123 Main St, Anytown, USA', ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'], ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'])

In [65]:
TI.check_course("Data Science")

'Data Science is available. under the location 123 Main St, Anytown, USA'

In [54]:
TI01 = TrainingInstitute(["Python Programming", "Data Science", "Web Development", "Machine Learning", "Cloud Computing", "Cybersecurity", "DevOps", "AI Fundamentals"])

In [55]:
TI.list_courses()

(['Python Programming',
  'Data Science',
  'Web Development',
  'Machine Learning',
  'Cloud Computing'],
 '123 Main St, Anytown, USA',
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'],
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'])

In [56]:
TI01.list_courses()

(['Python Programming',
  'Data Science',
  'Web Development',
  'Machine Learning',
  'Cloud Computing',
  'Cybersecurity',
  'DevOps',
  'AI Fundamentals'],
 '123 Main St, Anytown, USA',
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'],
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'])

In [57]:
TrainingInstitute.list_of_institutes

['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute']

In [66]:
TI.return_location()

'123 Main St, Anytown, USA'

In [67]:
TI.location= "456 Elm St, Othertown, USA"

In [68]:
TI.return_location()

'456 Elm St, Othertown, USA'

In [72]:
TI.return_location()

'123 Main St, Anytown, USA'

In [69]:
TI.check_course("Data Science")

'Data Science is available. under the location 456 Elm St, Othertown, USA'

In [71]:
TI.check_course("Data Science")

'Data Science is available. under the location 123 Main St, Anytown, USA'

In [70]:
TI.list_courses()

(['Python Programming',
  'Data Science',
  'Web Development',
  'Machine Learning',
  'Cloud Computing'],
 '123 Main St, Anytown, USA',
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'],
 ['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute'])

In [95]:
class TrainingInstitute:

   list_of_institutes = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]
   _list_of_institutes01 = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]
   __list_of_institutes02 = ["Tech Academy", "Code School", "Data Camp", "Dev Institute"]

   def __init__(self):
       self.institute_location = "123 Main St, Anytown, USA"
       self._institute_location = "123 Main St, Anytown, USA 01"
       self.__institute_location = "123 Main St, Anytown, USA 02"
   
   def printmsg(self):
       print("Welcome to the Training Institute")
       print(self.list_of_institutes)
       print(self._list_of_institutes01)
       print(self.__list_of_institutes02)
       print(TrainingInstitute.__list_of_institutes02)
       TrainingInstitute.__list_of_institutes02 = "new value"
       print(TrainingInstitute.__list_of_institutes02)

   def return_location(self):
       return self.__institute_location 
   def return_institutes(self):
       return self.__list_of_institutes02

In [87]:
TrainingInstitute.list_of_institutes

['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute']

In [88]:
TrainingInstitute._list_of_institutes01

['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute']

In [78]:
TrainingInstitute.__list_of_institutes02

AttributeError: type object 'TrainingInstitute' has no attribute '__list_of_institutes02'

In [96]:
ti00 = TrainingInstitute()
# ti00.printmsg()

In [90]:
TrainingInstitute.list_of_institutes = "updated list of institutes"

In [91]:
ti00.printmsg()

Welcome to the Training Institute
updated list of institutes
['Tech Academy', 'Code School', 'Data Camp', 'Dev Institute']
new value
new value
new value

In [92]:
ti00.institute_location

'123 Main St, Anytown, USA'

In [93]:
ti00._institute_location

'123 Main St, Anytown, USA 01'

In [94]:
ti00.__institute_location

AttributeError: 'TrainingInstitute' object has no attribute '__institute_location'

In [98]:
# ti00.return_institutes()
ti00.return_location()

'123 Main St, Anytown, USA 02'