## 1. Numeric Types

In [ ]:
# INTEGER (int) - Whole numbers
age = 25
student_count = 150
negative_number = -10
big_number = 1_000_000  # Underscores for readability

print("=== INTEGERS ===")
print(f"Age: {age}, Type: {type(age)}")
print(f"Student Count: {student_count}")
print(f"Big Number: {big_number}")

In [ ]:
# FLOAT - Decimal numbers
price = 99.99
temperature = 36.6
pi_value = 3.14159
scientific = 2.5e6  # Scientific notation = 2,500,000

print("=== FLOATS ===")
print(f"Price: ${price}, Type: {type(price)}")
print(f"Temperature: {temperature}°C")
print(f"Scientific: {scientific}")

In [ ]:
# COMPLEX - Numbers with imaginary part (advanced math)
complex_num = 3 + 4j
print(f"Complex: {complex_num}, Type: {type(complex_num)}")
print(f"Real part: {complex_num.real}, Imaginary part: {complex_num.imag}")

## 2. String Type (str)

In [ ]:
# STRINGS - Text data
name = "John Doe"
message = 'Hello, World!'
empty_string = ""

# Multi-line strings
address = """123 Main Street
New York, NY 10001
United States"""

print("=== STRINGS ===")
print(f"Name: {name}, Type: {type(name)}")
print(f"Message: {message}")
print(f"Address:\n{address}")

In [ ]:
# String Operations
text = "Python Programming"

print(f"Original: {text}")
print(f"Uppercase: {text.upper()}")
print(f"Lowercase: {text.lower()}")
print(f"Length: {len(text)}")
print(f"First character: {text[0]}")
print(f"Last character: {text[-1]}")
print(f"First 6 characters: {text[:6]}")

## 3. Boolean Type (bool)

In [ ]:
# BOOLEAN - True or False
is_active = True
is_admin = False
has_permission = True

print("=== BOOLEANS ===")
print(f"Is Active: {is_active}, Type: {type(is_active)}")
print(f"Is Admin: {is_admin}")

# Boolean from comparisons
age = 20
can_vote = age >= 18
print(f"\nAge: {age}, Can Vote: {can_vote}")

# Boolean logic
print(f"\nis_active AND is_admin: {is_active and is_admin}")
print(f"is_active OR is_admin: {is_active or is_admin}")
print(f"NOT is_admin: {not is_admin}")

## 4. List Type - Ordered, Mutable Collection

In [ ]:
# LISTS - Ordered, changeable collection
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = ["John", 25, True, 3.14]  # Can mix types

print("=== LISTS ===")
print(f"Fruits: {fruits}, Type: {type(fruits)}")
print(f"Numbers: {numbers}")
print(f"Mixed: {mixed}")

In [ ]:
# List Operations
fruits = ["apple", "banana", "cherry"]

# Accessing elements
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"First two: {fruits[:2]}")

# Modifying lists
fruits[0] = "mango"  # Change element
print(f"After change: {fruits}")

fruits.append("orange")  # Add to end
print(f"After append: {fruits}")

fruits.remove("banana")  # Remove by value
print(f"After remove: {fruits}")

## 5. Tuple Type - Ordered, Immutable Collection

In [ ]:
# TUPLES - Ordered, unchangeable collection
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person = ("John", 25, "New York")

print("=== TUPLES ===")
print(f"Coordinates: {coordinates}, Type: {type(coordinates)}")
print(f"RGB Color: {rgb_color}")
print(f"Person: {person}")

# Accessing elements (same as lists)
print(f"\nX coordinate: {coordinates[0]}")
print(f"Person name: {person[0]}")

# Tuples are IMMUTABLE (cannot change)
# coordinates[0] = 100  # This would cause an ERROR!

In [ ]:
# Converting tuple to list and back
original_tuple = (1, 2, 3)
print(f"Original tuple: {original_tuple}")

# Convert to list to modify
temp_list = list(original_tuple)
temp_list[0] = 100
temp_list.append(4)

# Convert back to tuple
modified_tuple = tuple(temp_list)
print(f"Modified tuple: {modified_tuple}")

## 6. Dictionary Type - Key-Value Pairs

In [ ]:
# DICTIONARIES - Key-value pairs
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "skills": ["Python", "JavaScript", "SQL"]
}

print("=== DICTIONARIES ===")
print(f"Person: {person}")
print(f"Type: {type(person)}")

In [ ]:
# Dictionary Operations
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

# Accessing values
print(f"Name: {person['name']}")
print(f"Age: {person['age']}")
print(f"City: {person.get('city')}")

# Modifying dictionary
person["age"] = 31  # Update value
person["email"] = "john@email.com"  # Add new key-value
print(f"\nUpdated: {person}")

# Dictionary keys, values, items
print(f"\nKeys: {list(person.keys())}")
print(f"Values: {list(person.values())}")

## 7. Set Type - Unique, Unordered Collection

In [ ]:
# SETS - Unordered, unique elements only
fruits = {"apple", "banana", "cherry"}
numbers = {1, 2, 3, 3, 3, 2, 1}  # Duplicates removed!

print("=== SETS ===")
print(f"Fruits: {fruits}, Type: {type(fruits)}")
print(f"Numbers (duplicates removed): {numbers}")

# Sets are UNORDERED - cannot access by index
# print(fruits[0])  # This would cause an ERROR!

In [ ]:
# Set Operations
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

print(f"Set A: {set_a}")
print(f"Set B: {set_b}")

# Union - all elements from both sets
print(f"\nUnion: {set_a | set_b}")

# Intersection - common elements
print(f"Intersection: {set_a & set_b}")

# Difference - elements in A but not in B
print(f"Difference (A-B): {set_a - set_b}")

# Add and remove
set_a.add(6)
print(f"\nAfter adding 6: {set_a}")

## 8. None Type

In [ ]:
# NONE - Represents absence of value
result = None
user_input = None

print("=== NONE ===")
print(f"Result: {result}, Type: {type(result)}")

# Common use: function with no return
def greet(name):
    print(f"Hello, {name}!")
    # No return statement - returns None

return_value = greet("Alice")
print(f"Return value: {return_value}")

# Checking for None
if result is None:
    print("Result is not set yet")

## 9. Type Conversion

In [ ]:
# TYPE CONVERSION
print("=== TYPE CONVERSION ===")

# String to Integer
age_str = "25"
age_int = int(age_str)
print(f"String to Int: '{age_str}' -> {age_int}, Type: {type(age_int)}")

# String to Float
price_str = "99.99"
price_float = float(price_str)
print(f"String to Float: '{price_str}' -> {price_float}, Type: {type(price_float)}")

# Number to String
num = 100
num_str = str(num)
print(f"Int to String: {num} -> '{num_str}', Type: {type(num_str)}")

# List to Tuple and vice versa
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(f"List to Tuple: {my_list} -> {my_tuple}")

# List to Set (removes duplicates)
numbers = [1, 2, 2, 3, 3, 3]
unique_numbers = set(numbers)
print(f"List to Set: {numbers} -> {unique_numbers}")

## 10. Real-World Example: Student Management

In [ ]:
# REAL-WORLD EXAMPLE: Student Record System

# Using different data types for student information
student = {
    "id": 12345,                              # int
    "name": "Alice Johnson",                   # str
    "age": 20,                                 # int
    "gpa": 3.85,                               # float
    "is_active": True,                         # bool
    "courses": ["Python", "Data Science", "ML"],  # list
    "address": ("123 Main St", "Boston", "MA"),    # tuple
    "skills": {"Python", "SQL", "Excel"},          # set
    "graduation_date": None                        # None (not yet)
}

print("=== STUDENT RECORD ===")
print(f"ID: {student['id']}")
print(f"Name: {student['name']}")
print(f"Age: {student['age']}")
print(f"GPA: {student['gpa']}")
print(f"Active: {student['is_active']}")
print(f"Courses: {', '.join(student['courses'])}")
print(f"Address: {', '.join(student['address'])}")
print(f"Skills: {student['skills']}")
print(f"Graduation: {student['graduation_date'] or 'Not graduated yet'}")

## Summary: Data Types Comparison

| Type | Example | Mutable | Ordered | Duplicates |
|------|---------|---------|---------|------------|
| int | `42` | N/A | N/A | N/A |
| float | `3.14` | N/A | N/A | N/A |
| str | `"hello"` | ❌ | ✅ | ✅ |
| bool | `True` | N/A | N/A | N/A |
| list | `[1, 2, 3]` | ✅ | ✅ | ✅ |
| tuple | `(1, 2, 3)` | ❌ | ✅ | ✅ |
| dict | `{"a": 1}` | ✅ | ✅ (3.7+) | Keys: ❌ |
| set | `{1, 2, 3}` | ✅ | ❌ | ❌ |
| None | `None` | N/A | N/A | N/A |

### Next Lesson: Operators